* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: antiquewhite;
}

nav {
  border-bottom: 5px solid #f5d10d;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin-right: 4rem;
}

.nav-item > a {
  color: #ffffff !important;
}

.nav-item > a:hover {
  color: #f5d10d !important;
  font-weight: 900;
}

.nav-item > a:active {
  color: #000000 !important;
  background-color: #f5d10d !important;
  font-weight: 900;
}

.nav-link.active {
  font-weight: bold;
  color: #f5d10d !important; /* your accent color */
  border-bottom: 2px solid #f5d10d;
}

#bg-property {
  background-image: url("../images/main_image_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg-left {
  max-width: 100%;
  height: 100vh;
  background-color: #000000;
  opacity: 0.85;
}

#my-identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40vh;
}

#my-identity-btn {
  border: 1px solid #f5d10d;
  background-color: transparent;
  padding: 0.5rem 2rem;
  font-size: 18px;
  color: #ffffff;
  margin-top: 1rem;
}

#my-identity-btn:hover {
  color: #000000;
  background-color: #f5d10d;
  border: 1px solid #000000;
  font-weight: 900;
}

#my-identity > h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ffffff;
}

#my-identity > h2 {
  font-family: monospace, sans-serif;
  color: #ffffff;
}

#my-identity > h1 #name {
  background-color: #f5d10d;
  color: #000000;
  font-weight: 900;
  padding: 0 10px;
  border-radius: 3px;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  width: 100%;
  height: 100vh;
  background-color: #353535;
  color: #ffffff;
}

#my-image {
  max-width: 22rem;
}

#my-image > figure > img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #f5d10d;
  box-shadow: 0 4px 200px;
}

#intro {
  padding: 3rem;
}

#my-projects {
  background-color: #f5d10d;
  height: 100vh;
}

#project-intro {
  text-align: center;
  background-color: #272727;
  width: 100%;
  height: 100vh;
  padding: 7.5rem 15rem;
}

#name-card {
  background-color: #494949;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-card {
  background-color: #000;
  color: #f5f5f5;
  border: 3px solid #ffd700;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
#name-card h5 {
  color: #ffd700;
}

.name-card:hover {
  transform: translateY(-5px);
}

.name-card-body {
  padding: 1.5rem;
}

.name-card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  position: relative;
  z-index: 1;
}

.name-card-subtitle {
  margin-top: -0.5rem;
  color: #ffffff;
  font-weight: bold;
}

.name-card-text {
  font-family: "Couriers New", monospace;
  font-size: 1rem;
  font-style: italic;
  color: #ffffff;
  margin-top: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 2rem;
  background-color: #f5d10d;
  padding: 0.5rem;
  border-radius: 8px;
}

.contact-info i {
  margin-right: 0.5rem;
  color: #000000;
}

.contact-info a {
  display: inline-block;
  text-decoration: none;
  color: #0000ee;
  font-weight: bold;
}

.contact-info a:hover {
  color: #3112cb;
  text-decoration: underline;
}

#main-footer {
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 468px) {
  #my-identity > h1 {
    font-size: 22px;
  }

  #about-me {
    flex-direction: column;
    padding: 1rem;
  }

  #intro {
    flex-basis: 100%;
    padding: 1rem;
  }
  figure > img {
    margin-left: 4.5rem;
  }
}
